<div class="flex justify-between items-center">
  <h2 class="mt-0">My Bounties</h2>
  <%= link_to "New Bounty", new_users_bounty_path, class: "rounded-md bg-indigo-600 py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
</div>

<div id="bounties" class="min-w-full">
  <%= render @bounties %>
</div>

<%== pagy_nav(@pagy).html_safe %>
