<% unless user_signed_in? %>
  <%= render 'hero' %>
<% end %>

<%= turbo_frame_tag "current_filter" do %>
  <h2>Open Bounties</h2>
  <%= render 'shared/bounties_filter' %>
  <%= render Bounty.where(status: "open") %>
<% end %>
