<% if notice.present? %>
  <div class="my-4 max-w-7xl mx-auto py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg" id="notice"><%= notice %></div>
<% end %>

<% if alert.present? %>
  <div class="my-4 max-w-7xl mx-auto py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg" id="alert"><%= alert %></div>
<% end %>
